.cd-add{
    display: flex;
    justify-content: space-between;
}

.cd-pagination{
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
}

.container {
    width: 68%!important;
    margin-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}




