<div class="alert alert-success" ng-show="message">
  <a ng-click="message = undefined" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{message}}</strong>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Author Form</div>
  <div class="panel-body">
    <form name="form" ng-submit="save()" novalidate>
      <div class="form-group">
        <label>FirstName</label>
        <input ng-model="author.firstName" name="firstName" type="text" class="form-control" required />
      </div>
      <div class="form-group">
        <label>LastName</label>
        <input ng-model="author.lastName" name="lastName" type="text" class="form-control" required />
      </div>
      <button type="button" ng-click="back()" class="btn btn-primary">Back</button>
      <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>