<div class="alert alert-success" ng-show="message">
	<a ng-click="message = undefined" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>{{message}}</strong>
</div>
<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">
		<div class="cd-add">
			<p>Authors</p>
			<button ng-click="add()" class="btn btn-danger">add</button>
		</div>
	</div>
	<br>
	<!-- Search -->
	<form>
		<div class="form-group">
			<div class="input-group">
				<div class="input-group-addon"><i class="glyphicon glyphicon-search"></i></div>
				<input type="text" class="form-control" placeholder="Search" ng-model="search" ng-change="changeSearch()">
			</div>
		</div>
	</form>

	<!-- Table -->
	<table class="table table-bordered">
		<thead>
			<tr class="success">
				<td>
					<a ng-click="getSort('firstName')">
						<span>First Name</span>
						<span ng-show="sortType == 'firstName' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            			<span ng-show="sortType == 'firstName' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
					</a>
				</td>
				<td>
					<a ng-click="getSort('lastName')">
						<span>Last Name</span>
						<span ng-show="sortType == 'lastName' && !sortReverse" class="glyphicon glyphicon-chevron-down"></span>
            			<span ng-show="sortType == 'lastName' && sortReverse" class="glyphicon glyphicon-chevron-up"></span>
					</a>
				</td>
				<td>Actions</td>
			</tr>
		</thead>

		<tbody>
			<tr ng-repeat="item in authors">
				<td>{{item.firstName}}</td>
				<td>{{item.lastName}}</td>
				<td>
					<button type="button" class="btn btn-default" ng-click="goEdit(item.id)">Edit</button>
					<button type="button" class="btn btn-default" ng-click="goBooks(item.id)">Books</button>
					<button type="button" class="btn btn-default" ng-click="remove(item.id)">Remove</button>
				</td>
			</tr>
		</tbody>
	</table>
	<hr class="divider" style="margin-top: 0px;">
	<!-- pager -->
	<div class="cd-pagination">
		<div class="pagination dataTables_info">{{descriptionPager}}</div>
		<ul class="pagination">
			<li ng-class="{disabled:pageIndex <= 1}">
				<a ng-click="setPager(pageIndex = pageIndex - 1)">Previous</a>
			</li>
			<li ng-class="{disabled:pageIndex >= totalPages}">
				<a ng-click="setPager(pageIndex = pageIndex + 1)">Next</a>
			</li>
		</ul>
	</div>
</div>