<div class="alert alert-success" ng-show="message">
	<a ng-click="message = undefined" class="close" data-dismiss="alert" aria-label="close">&times;</a>
	<strong>{{message}}</strong>
</div>
<div style="margin-bottom: 5px;">
	<button ng-click="back()" class="btn btn-primary">Home</button>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">Author</div>
	<div class="panel-body">
		<p>FirstName: {{author.firstName}}</p>
		<p>LastName: {{author.lastName}}</p>
	</div>
</div>
<div class="panel panel-primary">
	<div class="panel-heading">
		<div class="cd-add">
			<p>Books</p>
			<button ng-click="add()" class="btn btn-danger">add</button>
		</div>
	</div>
	<div class="panel-body">
		<h4 ng-if="books.length === 0" style="text-align: -webkit-center;">Does not contain items</h4>
		<table ng-if="books.length > 0" class="table table-bordered">
			<thead>
				<tr class="success">
					<td>Title</td>
					<td>Actions</td>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="item in books">
					<td>{{item.title}}</td>
					<td>
						<button type="button" class="btn btn-default" ng-click="edit(item.id)">Editar</button>
						<button type="button" class="btn btn-default" ng-click="remove(item.id)">Excluir</button>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>