<div class="alert alert-success" ng-show="message">
  <a ng-click="message = undefined" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>{{message}}</strong>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">Author</div>
  <div class="panel-body">
    <p>FirstName: {{author.firstName}}</p>
    <p>LastName: {{author.lastName}}</p>
  </div>
</div>
<div class="panel panel-primary">
  <div class="panel-heading">Book Form</div>
  <div class="panel-body">
    <form name="form" ng-submit="save()" novalidate>
      <div class="form-group">
        <label>Title</label>
        <input ng-model="book.title" name="title" type="text" class="form-control" required />
      </div>
      <button type="button" ng-click="back()" class="btn btn-primary">Back</button>
      <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Save</button>
    </form>
  </div>
</div>