<div class="modal-header">
  <h1>Confirm</h1>
</div>
<div class="modal-body">
  <p> Are you sure you want to delete this item?</p>
</div>
<div class="modal-footer">
  <button ng-click="remove()" class="btn btn-primary">delete</button>
  <button ng-click="close()" class="btn">close</button>
</div>